sudo: false
language: r
cache: packages

r:
  - oldrel
  - release
  - devel
  - 4.2.2
  - 4.2.1
  - 4.2.0
  - 4.1.3
  - 4.1.2
  - 4.1.1
  - 4.1.0
  - 4.0.5
  - 4.0.4
  - 4.0.3
  - 4.0.2
  - 4.0.1
  - 4.0.0
  - 3.6.3
  - 3.6.2
  - 3.6.1
  - 3.6.0
  - 3.5.3
  - 3.5.2
  - 3.5.1
  - 3.5.0
  - 3.4.4
  - 3.4.3
  - 3.4.2
  - 3.4.1
  - 3.4.0
